
.main-container {
  background-color: #fff;
  padding: 5%;
  margin: 5% auto;
  max-width: 120rem;

  .flex-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

      .post-item {
        flex: 0 1 25rem;
      }
  }
}

